html,
body {
    height: 100%;
    margin: 0;
}

:root {
    --pink-dark: #B3005E;
    --navy-dark: #060047;
    --pink-main: #E90064;
    --pink-light: #FF5F9E;
}

#vanta-canvas {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    position: fixed;
    width: 100%;
    height: 100%;
}

.navigation-wrapper {
    display: flex;
    justify-content: center;
    padding: 20px 0;
}

.nav-menu {
    background-color: white;
    border-radius: 50px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    display: flex;
    list-style: none;
    padding: 0 10px;
    margin: 0;
    position: relative;
    height: 50px;
    align-items: center;
}

.nav-item {
    position: relative;
    z-index: 2;
    padding: 0;
}

.nav-link {
    display: block;
    padding: 10px 20px;
    color: var(--navy-dark);
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    transition: color 0.25s ease;
    line-height: 30px;
}

.nav-link:hover {
    color: var(--pink-dark);
}

.nav-item.active .nav-link {
    color: white;
}

.active-indicator {
    position: absolute;
    top: 5px;
    height: 40px;
    background-image: linear-gradient(30deg, var(--pink-dark), var(--pink-main), var(--pink-light));

    border-radius: 50px;
    z-index: 1;
    transition: left 0.35s ease, width 0.35s ease;
}

.text-title1 {
    color: #fff !important;
    font-weight: 900;
    font-size: 3.5rem;
    line-height: 1;
    margin: 0;
    padding: 0;


}

.text-title2 {
    font-weight: 900;
    font-size: 3.5rem;
    line-height: 1;
    margin: 0;
    padding: 0;

    background: linear-gradient(90deg,
            var(--pink-main),
            var(--pink-main),
            var(--pink-light),
            var(--pink-main),
            var(--pink-dark));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}


.text-animate {
    color: var(--pink-light) !important;
    font-weight: 300;
    font-size: 1.5rem;
    text-shadow:
        0 0 4px rgba(233, 0, 100, 0.6),
        0 0 12px rgba(233, 0, 100, 0.4),
        0 0 24px rgba(233, 0, 100, 0.25);
}

.text-statis {
    color: #fff !important;
    font-weight: 300;
    font-size: 0.9rem;
    text-shadow:
        0 0 4px rgba(255, 255, 255, 0.6),
        0 0 12px rgba(224, 224, 224, 0.4),
        0 0 24px rgba(255, 255, 255, 0.25);
}

.slogan {
    border: none;
    color: #fff;
    background-image: linear-gradient(30deg, var(--pink-dark), var(--pink-main), var(--pink-light), var(--pink-main), var(--pink-dark));
    border-radius: 10px;
    background-size: 100% auto;
    font-family: inherit;
    font-size: 17px;
    padding: 0.5em 1.2em;
}

.slogan:hover {

    -webkit-animation: pulse 2s infinite;
    animation: pulse512 1.5s infinite;
}

@keyframes pulse512 {
    0% {
        box-shadow: 0 0 0 0 var(--pink-light);
    }

    70% {
        box-shadow: 0 0 0 10px rgb(218 103 68 / 0%);
    }

    100% {
        box-shadow: 0 0 0 0 rgb(218 103 68 / 0%);
    }
}

.glass {
    padding: 0.35em 0.9em;
    border-radius: 10px;

    background: rgba(255, 255, 255, 0.18);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);

    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.15);

    color: #fff;
    font-weight: 500;
}

.button-menu {
    position: relative;
    padding: 10px 22px;
    border-radius: 6px;
    border: none;
    color: #fff;
    cursor: pointer;
    background-image: linear-gradient(30deg, var(--pink-dark), var(--pink-main), var(--pink-light));
    transition: all 0.2s ease;
    display: inline-block;
    z-index: 1;
}

.button-menu .button-content {
    pointer-events: none;
}

.button-menu:active {
    transform: scale(0.96);
}

.button-menu:before,
.button-menu:after {
    position: absolute;
    content: "";
    width: 150%;
    left: 50%;
    height: 100%;
    transform: translateX(-50%);
    z-index: -1;
    background-repeat: no-repeat;
    pointer-events: none;
}

.button-menu:hover:before {
    top: -70%;
    background-image: radial-gradient(circle, var(--pink-main) 20%, transparent 20%),
        radial-gradient(circle, transparent 20%, var(--pink-main) 20%, transparent 30%),
        radial-gradient(circle, var(--pink-main) 20%, transparent 20%),
        radial-gradient(circle, var(--pink-main) 20%, transparent 20%),
        radial-gradient(circle, transparent 10%, var(--pink-main) 15%, transparent 20%),
        radial-gradient(circle, var(--pink-main) 20%, transparent 20%),
        radial-gradient(circle, var(--pink-main) 20%, transparent 20%),
        radial-gradient(circle, transparent 10%, var(--pink-main) 15%, transparent 20%),
        radial-gradient(circle, var(--pink-main) 20%, transparent 20%),
        radial-gradient(circle, var(--pink-main) 20%, transparent 20%),
        radial-gradient(circle, var(--pink-main) 20%, transparent 20%);
    background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%, 15% 15%,
        10% 10%, 18% 18%;
    background-position: 50% 120%;
    animation: greentopBubbles 0.6s ease forwards;
}

@keyframes greentopBubbles {
    0% {
        background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%,
            40% 90%, 55% 90%, 70% 90%;
    }

    50% {
        background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%,
            50% 50%, 65% 20%, 90% 30%;
    }

    100% {
        background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%,
            50% 40%, 65% 10%, 90% 20%;
        background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
    }
}

.button-menu:hover:after {
    bottom: -70%;
    background-image: radial-gradient(circle, var(--pink-light) 20%, transparent 20%),
        radial-gradient(circle, var(--pink-light) 20%, transparent 20%),
        radial-gradient(circle, transparent 10%, var(--pink-light) 15%, transparent 20%),
        radial-gradient(circle, var(--pink-light) 20%, transparent 20%),
        radial-gradient(circle, var(--pink-light) 20%, transparent 20%),
        radial-gradient(circle, var(--pink-light) 20%, transparent 20%),
        radial-gradient(circle, var(--pink-light) 20%, transparent 20%);
    background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 20% 20%, 18% 18%;
    background-position: 50% 0%;
    animation: greenbottomBubbles 0.6s ease forwards;
}

@keyframes greenbottomBubbles {
    0% {
        background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%,
            70% -10%, 70% 0%;
    }

    50% {
        background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%,
            105% 0%;
    }

    100% {
        background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%,
            110% 10%;
        background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
    }
}

@keyframes greenbottomBubbles {
    0% {
        background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%,
            70% -10%, 70% 0%;
    }

    50% {
        background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%,
            105% 0%;
    }

    100% {
        background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%,
            110% 10%;
        background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
    }
}

.float-image {
    animation: floatY 3s ease-in-out infinite;
}

@keyframes floatY {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-20px);
    }

    100% {
        transform: translateY(0);
    }
}

.icon-title {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 50px;
    height: 50px;
    text-decoration: none;
    font-size: 25px;
    color: var(--pink-light);
    border-radius: 50%;
    outline: 2px solid white;
    transition: all 0.25s ease-in-out;
    text-shadow:
        0 0 4px rgba(233, 0, 100, 0.6),
        0 0 12px rgba(233, 0, 100, 0.4),
        0 0 24px rgba(233, 0, 100, 0.25);
}


.icon-title:hover {
    outline-offset: 4px;
    color: white;
    text-shadow:
        0 0 4px rgba(255, 255, 255, 0.6),
        0 0 12px rgba(224, 224, 224, 0.4),
        0 0 24px rgba(255, 255, 255, 0.25);

}

.icon-title i {
    line-height: 0;
    margin: 0;
    padding: 0;
}

.icon-instagram:hover {
    background-color: #E1306C;
    outline-color: #E1306C;
}

.icon-github:hover {
    background-color: #333;
    outline-color: #333;
}

.icon-in:hover {
    background-color: #0a66c2;
    outline-color: #0a66c2;
}

/* Animasi Shake */
.icon-title:hover i {
    animation: shake 0.25s;
}

@keyframes shake {
    10% {
        transform: rotate(15deg);
    }

    20% {
        transform: rotate(-15deg);
    }

    30% {
        transform: rotate(0deg);
    }
}

/* Section About */

.text-title-about {
    font-weight: 900;
    font-size: 3.5rem;
    line-height: 1;
    margin: 0;
    padding: 0;

    background: linear-gradient(90deg,
            var(--pink-main),
            var(--pink-light),
            #fff,
            #fff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

footer {
    background-color: #d40000;
    position: relative;
    /* margin-top:110px; */
    bottom: 0;
    width: 100%;
}